.title{
    font-family: 'Fira Sans', sans-serif;
}

#wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.search-section{
    margin-top: 21vh;
}

section.search-section>h1.title{
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.search-section input#search{
    width: 100%;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 500px;
    font-size: 1rem;
    margin-top: 2rem;
}

.search-results{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    gap: 1rem;
}

.gif-card img{
    max-width: 250px;
}

.pagination-container{
    margin: 2rem 0;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(204, 12, 172);
}

.nothing-to-show{
    text-align: center;
}

footer{
    text-align: center;
    padding: 2rem;
    background-color: lightgray;
}

.giphy-logo{
    height: 1rem;
}