<main id="wrapper">
    <section class="search-section">
        <h1>GIFFLE</h1>
        <input type="text" name="search" id="search" placeholder="Search for your favourite GIFs...">
    </section>
    <section class="search-results">
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
        <div class="gif-card">
            <img src="https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif" alt="">
        </div>
    </section>
</main>
