<main id="wrapper">
    <section class="search-section">
        <h1>GIFFLE</h1>
        <form>
            <input [formControl]="searchInput" type="text" name="search" id="search" placeholder="Search for your favourite GIFs...">
        </form>
    </section>
    <section class="search-results">
        <div class="gif-card" *ngFor="let gif of gifs | paginate: {
            itemsPerPage: itemsPerPage, 
            currentPage: page,
            totalItems: totalCount
        }">
            <img [src]="gif.images.downsized.url" alt="">
        </div>
    </section>
    <div>
        <pagination-controls class="my-pagination"
            previousLabel="Previous" nextLabel="Next" (pageChange)="onPageChange($event)"
        ></pagination-controls>
    </div>
</main>
